$mainBack: #23282f;
$subBack: #141920;
$mainChara: #e6e6e6;
$subLv1Chara: #c0c0c0;
$subLv2Chara: #898989;
$mainStroke: #777;
$subStroke: #555;
$blue: #719ddc;
$red: #ff9796;

.header {
  width: 100%;
  height: 40vh;
  color: $subLv2Chara;

  .top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px 0;

    div {
      width: 10vw;
      padding: 0 3vw;
      font-size: 27px;
    }

    p {
      font-family: p22-arts-and-crafts, sans-serif;
      font-weight: 400;
      font-size: 32px;
    }
  }

  .center {
    margin-top: 10vh;
    text-align: center;
    .centerImg {
      width: 40vw;
      max-width: 200px;

      &.loading {
        animation: rotateInfinite ease-in-out 1.5s infinite;
      }
    }
  }
}

@keyframes rotateInfinite {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
